.dofus2 {
  width: 15%;
  margin: 15px;
  position: absolute;
  bottom: 40px;
  left: 190px;
}

.plateforme-2 {
  /* position: fixed; */
  width: 30%;
}

.button-kamas {
  position: relative;
  right: 260px;
  left: 90px;
  top: 245px;
  height: 8%;
  width: 13%;
  border-radius: 8%;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  background-color: rgb(9, 238, 161);
}

.button-retro {
  position: relative;
  left: 460px;
  top: 245px;
  height: 8%;
  width: 16%;
  border-radius: 8%;
  color: rgb(99, 78, 78);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  background-color: rgb(9, 238, 161);
}

.dofus-retro-img {
  width: 24%;
  position: relative;
  top: 30px;
  left: 600px;
}

.modal {
  border: 1px solid black;
  position: absolute;
  left: 22%;
  bottom: 65%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
  background-color: rgba(222, 230, 236, 0.637);
  width: 60%;
}

.description-modal {
  font-size: 23px;
  font-style: italic;
  font-family: sans-serif;
}

.confirm-modal,
.cancel-modal {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 8%;
  border-radius: 15%;
  background-color: rgba(35, 172, 47, 0.918);
}

.send-kamas {
  position: relative;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: none;
    background-color: rgb(21, 43, 43);
  }

  .modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    justify-content: space-evenly;
    top: 100px;
  }

  .send-kamas {
    position: fixed;
    background-image: url("../../img/decors/plateforme.png");
    background-repeat: no-repeat;
    background-size: 350px;
    height: 100%;
    width: 100%;
    top: 450px;
    margin-left: 36px;
  }
  .dofus-retro {
    position: fixed;
    background-image: url("../../img/decors/plateforme.png");
    background-repeat: no-repeat;
    background-size: 350px;
    left: 700px;
    width: 100%;
    height: 100%;
  }

  .dofus2 {
    position: fixed;
    top: 385px;
    left: 130px;
    bottom: 0;
    width: 100px;
  }

  .dofus-retro-img {
    position: fixed;
    width: 130px;
    top: 425px;
    left: 820px;
  }

  .button-retro {
    position: fixed;
    top: 750px;
    left: 800px;
    width: 150px;
  }

  .button-kamas {
    position: fixed;
    top: 750px;
    left: 120px;
    width: 160px;
  }
}
