.Home {
    display: flex;
    flex-direction: column;
    background-image: url('./bg_home.jpg');
    background-size: 810px;
    background-repeat: no-repeat;
    width: 52%;
    height: 400px;
    margin:0 auto;
}

.description{
    font-size: 20px;
}

.title {
    text-align: center;
}
.title-buy,.description-vente{
    color: red;
}