.Home {
    display: flex;
    flex-direction: column;
    background-image: url('/public/img/bg_home.jpg');
    background-size: 810px;
    background-repeat: no-repeat;
    width: 52%;
    height: 400px;
    margin:0 auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.description{
    font-size: 20px;
}

.title {
    text-align: center;
}
.title-buy,.description-vente{
    color: red;
    margin: 20px;
}