.notfound {
  margin: 20px;
  height: 450px;
}

.error-page {
  position: absolute;
  top: 65%;
  right: 50%;
  font-size: 16px;
  width: 16%;
  background-color: rgba(240, 24, 24, 0.979);
}

.description-error {
    position: absolute;
    top: 50%;
    right: 12%;
  font-size: 50px;
  color: rgb(32, 35, 36);
}
.error {
  position: absolute;
  bottom: 5%;
  right: 40%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 450px;
  text-align: center;
  transition: transform 2.5s;
}

.error:hover {
  transform: scale(1.1) rotate(360deg);
}
